[Unit]
Description=Mender data partition
DefaultDependencies=no
After=local-fs-pre.target
Before=local-fs.target

[Mount]
What=/dev/mmcblk0p7
Where=/data
Type=ext4
Options=defaults

[Install]
WantedBy=local-fs.target
