# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ${TOPDIR}/../sources/poky/meta \
  ${TOPDIR}/../sources/poky/meta-poky \
  ${TOPDIR}/../sources/poky/meta-yocto-bsp \
  \
  ${TOPDIR}/../sources/meta-openembedded/meta-oe \
  \
  ${TOPDIR}/../sources/meta-toradex-bsp-common \
  \
  ${TOPDIR}/../sources/meta-freescale \
  ${TOPDIR}/../sources/meta-freescale-3rdparty \
  ${TOPDIR}/../sources/meta-toradex-nxp \
  \
  ${TOPDIR}/../sources/meta-mender/meta-mender-core \
  ${TOPDIR}/../sources/meta-mender/meta-mender-demo \
  ${TOPDIR}/../sources/meta-mender/meta-mender-toradex-nxp \
"

