name: build boards

on:
  push:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '5 2 * * 6'

env:
  BUILDDIR: gh
  DL_DIR: ${{ vars.BUILD_DL_DIR }}
  SSTATE_DIR: ${{ vars.BUILD_SSTATE_DIR }}

jobs:
  prepare:
    runs-on: [self-hosted, linux, x64]
    steps:
      - name: Clean up
        run: rm -fR $BUILDDIR

  build:
    needs: [prepare]
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        target: [
          beaglebone,
          beaglebone-ai64,
          beagleplay,
          raspberrypi,
          raspberrypi-cm,
          raspberrypi0,
          raspberrypi0-wifi,
          raspberrypi2,
          raspberrypi0-2w,
          raspberrypi0-2w-64,
          raspberrypi3,
          raspberrypi3-64,
          raspberrypi-cm3,
          raspberrypi4,
          raspberrypi4-64,
          qemuarm64,
          qemux86-64,
          vexpress-qemu,
          vexpress-qemu-flash,
        ]
        experimental: [false]

    runs-on: [self-hosted, linux, x64]
    container:
      # the container image needs to be effectively hardcoded, it seems.
      image: ghcr.io/theyoctojester/devcontainer-base-yoep:main
      volumes:
        - ${{ vars.KAS_DL_DIR }}:${{ vars.BUILD_DL_DIR }}
        - ${{ vars.KAS_SSTATE_DIR }}:${{ vars.BUILD_SSTATE_DIR }}
      options: --user ${{ vars.KAS_UID }}:${{ vars.KAS_GID }}
    steps:
      - uses: actions/checkout@v3
      - name: enter build dir and build
        run: mkdir -p $BUILDDIR/${{ matrix.target }} && cd $BUILDDIR/${{ matrix.target }} && kas build ../../kas/${{ matrix.target }}.yml